{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>List Of Companies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
		   <!------------------------------------------------------------------>
            <div class="col-lg-12">
				  <h3>Amazon</h3>
            </div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200" src="https://www.youtube.com/embed/SBKBt8oRKDA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200" src="https://www.youtube.com/embed/RPqcnk7ic4A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
			    <iframe width="250" height="200" src="https://www.youtube.com/embed/e5D3NepYvLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
			    <iframe width="250" height="200" src="https://www.youtube.com/embed/baT3OzbOg5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
			    <iframe width="250" height="200" src="https://www.youtube.com/embed/eaYX0Ee0Kcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			    <a href="https://www.youtube.com/results?search_query=amazon+interview+preparation" class="thumbnail">More videos?</a>
			</div>
			<!------------------------------------------------------------------->
			<div class="col-lg-12">
				<h1></h1><br>
				<h3>INFOSYS</h3>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200"  src="https://www.youtube.com/embed/kwBc7xWVUZc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200"  src="https://www.youtube.com/embed/KosR7NiuV_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200"  src="https://www.youtube.com/embed/_bnH7BOI43w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200" src="https://www.youtube.com/embed/9oPt0cnI0lw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<iframe width="250" height="200"  src="https://www.youtube.com/embed/LbnX61Haoc4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<a href="https://www.youtube.com/results?search_query=infosys+interview+preparation" class="thumbnail">More videos?</a>
			</div>
	
			<!-------------------------------------------------------------------->  
			
        </div>
		
	</div>
</body>
</html>