{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>List Of Companies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
       
        <!------------------------------------------------------------------>
        <div class="col-lg-12">
            <h1></h1><br>
            <h3>TCS</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/70NJZO7XKBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/kbUx7IZEsFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/Tpni7Im3HM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/_g9w8u1BJvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/e_1T1d5LH5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           
             <a href="https://www.youtube.com/results?search_query=TCS+interview+preparation" class="thumbnail">More videos?</a>
        </div>
        <!------------------------------------------------------------------>
        <div class="col-lg-12">
            <h1></h1><br>
            <h3>Deloitte</h3>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/YAvysvek-9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/7BzlE9NbeWc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/cJhUTU6eTKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/MvAffnC7Y0Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <iframe width="250" height="200" src="https://www.youtube.com/embed/a5YJJgGee9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <a href="https://www.youtube.com/results?search_query=deloitte+interview+preparation" class="thumbnail">More videos?</a>
        </div>
        <!------------------------------------------------------------------>
       
        
    </div>
</div>
</body>
</html>