{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Vce Recruiters</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">							
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		  <header id="header" id="home">
			<div class="container main-menu">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<h3 style="color: azure;">VCE RECRUITERS</h3>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="home">Home</a></li>
					  <li><a href="about">About</a></li>
					  <li><a href="getcompanies">Get Companies</a></li>
					  <li><a href="videos">Video Library</a></li>
					  <li><a href="exampreparation">Exam Preparation docs</a></li>
					  <li><a href="locations">Locations</a></li>
					  <li><a href="learn">Learn</a></li>
					  <li><a href="contact">Contact</a></li>
					  <li><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Admin Login</a></li>				              
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Docs		
							</h1>	
							<p class="text-white link-nav"><a href="home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="exampreparation">Exam Preparation Docs</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
			<p>Click on the buttons for download:</p>
			<div class="container">
                <h5><br><br>Company specific documents:<br><br></h5>
				<a href="static/Docsfolder/jpmc.pdf" download>
					<button type="button" class="btn btn-dark">JPMC pdf</button>
				</a>
			    <a href="static/Docsfolder/oracle.docx" download>
					<button type="button" class="btn btn-dark">ORACLE DOCX</button>
				</a>
				<a href="static/Docsfolder/pega.docx" download>
					<button type="button" class="btn btn-dark">PEGA DOCX</button>
				</a>
				<a href="static/Docsfolder/Infosys_Previous_Questions.docx" download>
					<button type="button" class="btn btn-dark">Infosys_Previous_Questions DOCX</button>
				</a>
				<a href="static/Docsfolder/Infoss_prev_Questions_updated_Doc.docx" download>
					<button type="button" class="btn btn-dark">Infoss_prev_Questions_updated_Doc</button>
				</a>
			</div>
			<div class="container">
				<h2><br></h2>
				<a href="static/Docsfolder/AMCATLogical.pdf" download>
					<button type="button" class="btn btn-dark">AMCATLogical pdf</button>
				</a>
				<a href="static/Docsfolder/GM AMCAT QUANTS.pdf" download>
					<button type="button" class="btn btn-dark">GM AMCAT QUANTS pdf</button>
				</a>
				<a href="static/Docsfolder/Company-based-Papers.pdf" download>
					<button type="button" class="btn btn-dark">Company-based-Papers pdf</button>
				</a>
				<a href="static/Docsfolder/Company based paper-2.pdf" download>
					<button type="button" class="btn btn-dark">Company based paper-2 pdf</button>
				</a>
	
			</div> 

			<div class="container">
				<h5><br><br>Aptitude:<br><br></h5>
					<a href="static/Docsfolder/Syllogisms_practice_questions.docx" download>
						<button type="button" class="btn btn-dark">Syllogisms_practice_questions docx</button>
					</a>
					<a href="static/Docsfolder/Time and Distance-edited.docx" download>
						<button type="button" class="btn btn-dark">Time and Distance-edited docx</button>
					</a>
					<a href="static/Docsfolder/seating_Arrangements-1.docx" download>
						<button type="button" class="btn btn-dark">seating_Arrangements-1 docx</button>
					</a>
				</div>

				<div class="container">
					<h2><br></h2>
					<a href="static/Docsfolder/dice_wb.pdf" download>
						<button type="button" class="btn btn-dark">dice_wb pdf</button>
					</a>
					<a href="static/Docsfolder/directions_Handout.docx" download>
						<button type="button" class="btn btn-dark">directions_Handout docx</button>
					</a>
					<a href="static/Docsfolder/Coding and Decoding.docx" download>
						<button type="button" class="btn btn-dark">Coding and Decoding docx</button>
					</a>
					<a href="static/Docsfolder/new-puzzles.docx" download>
						<button type="button" class="btn btn-dark">new-puzzles docx</button>
					</a>
                </div>


			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>						
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>							
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
		</body>
	</html>