{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Vce Recruiters</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">							
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		  <header id="header" id="home">
			<div class="container main-menu">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<h3 style="color: azure;">VCE RECRUITERS</h3>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="home">Home</a></li>
					  <li><a href="about.html">About</a></li>
					  <li><a href="getcompanies">Get Companies</a></li>
					  <li><a href="videos">Video Library</a></li>
					  <li><a href="exampreparation">Exam Preparation docs</a></li>
					  <li><a href="locations">Locations</a></li>
					  <li><a href="learn">Learn</a></li>
					  <li><a href="contact">Contact</a></li>
					  <li><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Admin Login</a></li>				              
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Videos			
							</h1>	
							<p class="text-white link-nav"><a href="home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="videos"> Videos</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				
			<!-- Start cat-list Area -->
            <div class="container">
		       
				<h4><br>Click on the buttons to see the videos..<br><br></h4><br>
			
				<a href="button1v" class="btn btn-primary"  class="thumbnail">Microsoft<br>Oracle</a>
			
				<a href="button2v" class="btn btn-primary"  class="thumbnail">TCS<br>Deloitte<br></a>

				<a href="button3v" class="btn btn-primary"  class="thumbnail">Amazon<br>Infosys</a>
			
				<a href="https://www.youtube.com/results?search_query=IBM+interview+preparation" class="btn btn-warning"  class="thumbnail">IBM</a>
			
				<a href="https://www.youtube.com/results?search_query=Adobe+interview+preparation" class="btn btn-warning"  class="thumbnail">Adobe</a>
			
				<a href="https://www.youtube.com/results?search_query=accenture+interview+preparation" class="btn btn-warning"  class="thumbnail">Accenture</a>
			
			</div>
			<div class="container">
		        <h2><br></h2>
				<a href="https://www.youtube.com/results?search_query=commvault+interview+preparation" class="btn btn-info"  class="thumbnail">Commvault</a>
			
				<a href="https://www.youtube.com/results?search_query=accolite+interview+preparation" class="btn btn-info"  class="thumbnail">Accolite</a>
			
				<a href="https://www.youtube.com/results?search_query=Genpact+interview+preparation" class="btn btn-info"  class="thumbnail">Genpact</a>
			
				<a href="https://www.youtube.com/results?search_query=Epam+interview+preparation" class="btn btn-secondary"  class="thumbnail">Epam</a>
			
				<a href="https://www.youtube.com/results?search_query=Salesforce+interview+preparation" class="btn btn-secondary"  class="thumbnail">Salesforce</a>
			
				<a href="https://www.youtube.com/results?search_query=Persistent+interview+preparation" class="btn btn-secondary"  class="thumbnail">Persistent</a>
			</div>
			<div class="container">
		        <h2><br></h2>
				<a href="https://www.youtube.com/results?search_query=Qualcomm+interview+preparation" class="btn btn-danger"  class="thumbnail">Qualcomm</a>
		
				<a href="https://www.youtube.com/results?search_query=ADP+interview+preparation" class="btn btn-danger"  class="thumbnail">ADP</a>
			
				<a href="https://www.youtube.com/results?search_query=Pega+interview+preparation" class="btn btn-danger"  class="thumbnail">Pega</a>
			
				<a href="https://www.youtube.com/results?search_query=EY+interview+preparation" class="btn btn-success"  class="thumbnail">EY</a>
			
				<a href="https://www.youtube.com/results?search_query=NCR+interview+preparation" class="btn btn-success"  class="thumbnail">NCR</a>
			
				<a href="https://www.youtube.com/results?search_query=L&T Infotech+interview+preparation" class="btn btn-success"  class="thumbnail">L&T Infotech</a>
			</div>
		

			

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>						
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>							
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
		</body>
	</html>